<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <app-title-page [titlePage]="titulo"></app-title-page>
    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
        <div class="card">
            <div class="card-body">
                <section class="content">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-3">
                
                          <!-- Profile Image -->
                          <div class="card card-primary card-outline">
                            <div class="card-body box-profile">
                              <div class="text-center">
                                <img [src]="imagenUrl" class="profile-user-img img-fluid img-circle">
                              </div>
                
                              <h3 class="profile-username text-center">{{ usuario.nombreApellido }}</h3>
                
                              <p class="text-muted text-center">Se unio el {{ usuario.createAt | date:'dd/MM/yyyy' }}</p>
                
                              <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                  <b>Publicaciones</b> <a class="float-right">1,322</a>
                                </li>
                                <li class="list-group-item">
                                  <b>Fotos</b> <a class="float-right">543</a>
                                </li>
                                <li class="list-group-item">
                                  <b>Amigos</b> <a class="float-right">13,287</a>
                                </li>
                              </ul>
                
                              <button *ngIf="flagBotonAgregarAmigo" type="button" class="btn btn-primary btn-block" (click)="enviarSolicitudDeAmistad()"><b>Agregar</b></button>
                            </div>
                            <!-- /.card-body -->
                          </div>
                          <!-- /.card -->
                
                          <!-- About Me Box -->
                          <div class="card card-primary">
                            <div class="card-header">
                              <h3 class="card-title">Sobre Mi</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                              <strong><i class="far fa-heart mr-1"></i> Estado Sentimental </strong>
                              <p class="text-muted">{{ usuario.situacionSentimental ? usuario.situacionSentimental : 'No especifia' }}</p>
                              <hr>

                              <strong><i class="fas fa-book mr-1"></i> Biografia </strong>
                              <p class="text-muted">
                                {{ usuario.biografia ? usuario.biografia : 'No especifica' }}
                              </p>
                              <hr>
                
                              <strong><i class="fas fa-map-marker-alt mr-1"></i> Nacionalidad </strong>
                              <p class="text-muted">{{ usuario.pais }}</p>
                              <hr>
                
                              <strong><i class="fas fa-tasks mr-1"></i> Hobbies</strong>
                              <p class="text-muted">
                                {{ usuario.hobbies ? usuario.hobbies : 'No especifica' }}
                              </p>
                              <hr>

                              <strong><i class="fas fa-phone-square mr-1"></i> Telefono</strong>
                              <p class="text-muted">
                                {{ usuario.telefono ? usuario.telefono : 'No especifica' }}
                              </p>
                              <hr>

                              <div class="row text-center">
                                <a class="btn btn-app btn-primary bg-primary btn-block" href="#" routerLink="/dashboard/publicacion/nueva-publicacion">
                                  <i class="fas fa-file-image"></i> Agregar Publicacion
                                </a>
                              </div>

                
                            </div>
                            <!-- /.card-body -->
                          </div>
                          <!-- /.card -->
                        </div>
                        <!-- /.col -->
                        <div class="col-md-9">
                          <div class="card">
                            <div class="card-header p-2">
                              <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Actividad</a></li>
                                <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Linea de Tiempo</a></li>
                                <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Configuracion</a></li>
                              </ul>
                            </div><!-- /.card-header -->
                            <div class="card-body">
                              <div class="tab-content">
                                <div class="active tab-pane" id="activity">
                                  <!-- Post -->
                                  <app-actividad-usuario [usuarioLogueado]="usuario"></app-actividad-usuario>
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="timeline">
                                  <app-actividad-temporal></app-actividad-temporal>
                                </div>
                                <!-- /.tab-pane -->
                
                                <div class="tab-pane" id="settings">
                                    <app-configuracion-perfil [usuarioLogueado]="usuario"></app-configuracion-perfil>
                                </div>
                                <!-- /.tab-pane -->
                              </div>
                              <!-- /.tab-content -->
                            </div><!-- /.card-body -->
                          </div>
                          <!-- /.card -->
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->
                    </div><!-- /.container-fluid -->
                  </section>
                  <!-- /.content -->
                                  
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
  <!-- /.content-wrapper -->
