<!-- MENSAJE NO HAY USUARIOS CONECTADOS -->
<div class="alert alert-info alert-dismissible m-4" *ngIf="flagUsuariosConectadosEmpty">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h5><i class="icon fas fa-info"></i> Atencion!</h5>
    Ninguno de tus amigos estan conectados
</div> 

<!-- INICIO USUARIOS CONECTADOS -->
<div *ngIf="!flagUsuariosConectadosEmpty">
    <div class="chat_list" *ngFor="let usuario of usuariosConectados">
        <div class="chat_people" (click)="seleccionarUsuarioForChat(usuario)">
            <div class="chat_img"> <img [src]="usuarioService.getUrlImagen(usuario)" alt="sunil"> </div>
            <div class="chat_ib">
                <h5>{{ usuario.nombreApellido }} <span class="chat_date">{{ date | date: 'MMM d' }}</span></h5>
                <span *ngIf="usuario.online" class="text-success text-bold">Online</span>
                <span *ngIf="!usuario.online" class="text-danger text-bold">Offline</span>
            </div>
        </div>
    </div>
</div>
<!-- FIN USUARIOS CONECTADOS -->

