<!-- INCIO COMPONENTE ADD PUBLICACION ACTUALIZADO -->
<div class="card" *ngIf="isUsuarioLogueado">
    <div class="row">
        <div class="col-sm-3 text-center">
            <!-- <img src="../../../../../assets/img/avatar04.png" class="img-avatar-post img-circle img-thumbnail" /> -->
            <img [src]="imgUrl" class="img-avatar-post img-circle img-thumbnail" />
        </div>
        <div class="col-sm-8">
            <form [formGroup]="formulario">
                <input type="text" class="input-post form-control form-control-sm" placeholder="Escribe un titulo" formControlName="titulo" />        
                <div class="col-xs-12 text-danger">
                    <p *ngIf="formulario.get('titulo').hasError('required') && (formulario.get('titulo').dirty || formulario.get('titulo').touched)">El titulo es requerido</p>
                </div> 
                <textarea class="input-post form-control form-control-sm" rows="3" placeholder="Escriba algo" formControlName="descripcion"></textarea>
                <div class="col-xs-12 text-danger">
                    <p *ngIf="formulario.get('descripcion').hasError('descripcion') && (formulario.get('descripcion').dirty || formulario.get('descripcion').touched)">La descripcion es requerida</p>
                </div> 
            </form>
            <hr>

            <ul class="list-inline" *ngIf="flagShowImages">
                <li class="list-inline-item">
                    <img *ngFor="let url of urlsFiles; index as i" alt="Avatar" class="table-avatar post-avatar mx-2 img-rounded img-responsive" [src]="url">
                </li>
            </ul>
            <hr *ngIf="flagShowImages">
            <button type="button" class="btn btn-primary float-right" style="margin-top: -10px;" (click)="publicar()">Publicar</button>

            <div class="image-upload float-right mx-1">
                <label for="file-input">
                    <ion-icon name="images-outline" class="ion-icon float-right mx-4">
                    </ion-icon>
                </label>
                <input id="file-input" type="file" multiple (change)="selectedFiles($event)" />
            </div>
        </div>
    </div>
    <div class="card-header"></div>
</div>
<!-- FIN COMPONENTE ADD PUBLICACION ACTUALIZADO -->