<!-- MENSAJE NO HAY RESULTADO -->
<div class="alert alert-info alert-dismissible" *ngIf="flagNoResults">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h5><i class="icon fas fa-info"></i> Atencion!</h5>
    {{ isUsuarioLogueado ? 'No hay actividad' : 'El usuario aun no ha realizado ninguna actividad'}}
</div>

<div *ngIf="flagNoResults">
    <app-publicacion-add-multiple [urlImagen]="imgUrl" [usuarioLogueado]="usuario" [isUsuarioLogueado]="isUsuarioLogueado" (publicacionRegistrada)="actualizarActividadUsuario($event)"></app-publicacion-add-multiple>
</div>

<div *ngIf="!flagNoResults">

    <app-publicacion-add-multiple [urlImagen]="imgUrl" [usuarioLogueado]="usuario" [isUsuarioLogueado]="isUsuarioLogueado" (publicacionRegistrada)="actualizarActividadUsuario($event)"></app-publicacion-add-multiple>

    <hr>
    <!-- Post -->
    <div class="post" *ngFor="let publicacion of publicaciones">
        <div class="user-block">
            <img class="img-circle img-bordered-sm img-post" [src]="imgUrl" alt="User Image">
            <span class="username">
                <a *ngIf="isUsuarioLogueado" routerLink="/dashboard/mi-perfil">{{ usuario.nombreApellido }}</a>
                <a *ngIf="!isUsuarioLogueado" [routerLink]="['/dashboard/perfil', usuario.id]">{{ usuario.nombreApellido }}</a>
                <!-- <a ng-click="eliminarPublicacion()" class="float-right btn-tool"><button><i class="fas fa-times"></i></button></a> -->
                <button *ngIf="isUsuarioLogueado" type="button" class="float-right btn-tool" (click)="eliminarPublicacion(publicacion.id)"><i class="fas fa-times"></i></button>
            </span>
            <span class="description">Subido el {{ publicacion.createAt | date:'dd/MM/yyyy' }}</span>
        </div>
        <!-- /.user-block -->
        <div class="row mb-3">
            <div class="col-sm-12" *ngIf="publicacion.srcImagen.length > 0">
                <img class="img-fluid" [src]="getImagenPublicacion(publicacion.srcImagen[0])" alt="Photo">
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    
        <div class="row" style="margin-left: 10px;">
            <h3><span class="text-bold">{{ publicacion.titulo | uppercase }}</span></h3>
        </div>
        <!-- /. row -->
    
        <div class="row" style="margin-left: 10px; margin-top: -10px;">
            <h3>{{ publicacion.descripcion }}</h3>
        </div>
        <!-- /. row -->
    
        <p>
            <a href="#" class="link-black text-sm mr-2"><i class="fas fa-share mr-1"></i> Compartir</a>

            <!-- INVOCAMOS AL COMPONENTE DE LIKE/DISLIKE PUBLICACION -->
            <app-like [publicacion]="publicacion" [usuario]="usuario"></app-like>
            <!-- END INVOCACION AL COMPONENTE DE LIKE/DISLIKE PUBLICACION -->
            <span class="float-right">
            <a href="#" class="link-black text-sm">
                <i class="far fa-comments mr-1"></i> Comentarios (5)
            </a>
            </span>
        </p>
    
        <input class="form-control form-control-sm" type="text" placeholder="Escribe un comentario">
    </div>
    <!-- /.post -->
    <div class="text-center" *ngIf="flagLoading || publicacionService.cargando">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    </div>
</div>



