<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>Admin</b>LTE</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Estas a un solo paso de obtener tu nueva contraseña. Recupera tu contraseña ahora!</p>
        
                <form [formGroup]="formularioResetPassword" (ngSubmit)="resetPassword()">
                    <!-- INICIO FORMULARIO RESETPASSWORD FIELD PASSWORD -->
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Nueva Contraseña" formControlName="password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <!-- INICIO ERRORES FIELD PASSWORD -->
                    <div class="col-xs-12 text-danger">
                        <p *ngIf="formularioResetPassword.get('password').hasError('required') && (formularioResetPassword.get('password').dirty || formularioResetPassword.get('password').touched)">La contraseña es requerida</p>
                    </div>
                    <div class="col-xs-12 text-danger">
                        <p *ngIf="checkPassword()">Las contraseñas no son iguales</p>
                    </div>
                    <!-- FIN ERRORES FIELD PASSWORD -->

                    <!-- FIN FORMULARIO RESETPASSWORD FIELD PASSWORD -->

                    <!-- INICIO FORMULARIO RESETPASSWORD FIELD PASSWORDCONFIRM -->
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Confirmar nueva Contraseña" formControlName="passwordConfirm">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <!-- INICIO ERRORES FIELD PASSWORDCONFIRM -->
                    <div class="col-xs-12 text-danger">
                        <p *ngIf="formularioResetPassword.get('passwordConfirm').hasError('required') && (formularioResetPassword.get('passwordConfirm').dirty || formularioResetPassword.get('passwordConfirm').touched)">Por favor ingrese de nuevo la contraseña</p>
                    </div>
                    <div class="col-xs-12 text-danger">
                        <p *ngIf="checkPassword()">Las contraseñas no son iguales</p>
                    </div>
                    <!-- FIN ERRORES FIELD PASSWORDCONFIRM -->
                    <!-- FIN FORMULARIO RESETPASSWORD FIELD PASSWORDCONFIRM -->

                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block" [disabled]="formularioResetPassword.invalid">Modificar Contraseña</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
      
                <!-- NAVEGACION COMPONENTE LOGIN -->
                <p class="mt-3 mb-1">
                    <a routerLink="/login">Login</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
</div>