<!-- MENSAJE NO HAY USUARIOS CONECTADOS -->
<div class="alert alert-info alert-dismissible m-4" *ngIf="flagUsuarioSeleccionado">
    <h5><i class="icon fas fa-info"></i> Atencion!</h5>
    Selecciona algunos de tus amigos conectados para iniciar el    <i class="fab fa-facebook-messenger"></i>.
</div> 

<div *ngIf="!flagUsuarioSeleccionado">
    <div class="msg_history" id="msg-history-chat" #scroll>
        <div  *ngFor="let mensaje of mensajesChat">
            <!-- Inicio Mensajes Entrantes -->
            <div class="incoming_msg" *ngIf="mensaje.to === usuarioLogueado.id">
                <div class="incoming_msg_img"> <img [src]="getImagenPerfilUsuarioTo()" alt="sunil"> </div>
                <div class="received_msg">
                    <div class="received_withd_msg" id="received-msg">
                        <p>{{ mensaje.message }}</p>
                        <!-- <span class="time_date"> 11:01 AM    |    June 9</span> -->
                        <span class="time_date">{{ getHoraMesFormat(mensaje.createAt) }}</span>
                    </div>
                </div>
            </div>
            <!-- Fin Mensajes Entrantes -->

            <!-- Inicio Mensaje Saliente -->
            <div class="outgoing_msg" *ngIf="mensaje.to === usuario.id">
                <div class="sent_msg">
                    <p>{{ mensaje.message }}</p>
                    <!-- <span class="time_date"> 11:01 AM    |    June 9</span> -->
                    <span class="time_date">{{ getHoraMesFormat(mensaje.createAt) }}</span>
                </div>
            </div>
            <!-- Inicio Mensaje Saliente -->

        </div>
    </div>


    <div class="type_msg">

        <div class="input_msg_write">

            <form [formGroup]="formulario">

                <input type="text" class="write_msg" placeholder="Escriba un mensaje" formControlName="mensaje" (keyup.enter)="sendMessage()" />
                <angular-emojis class="msg_emoji_btn" (click)="mostrarEmojis()" type="button"></angular-emojis>
                <button  class="msg_send_btn" type="button"><i class="fa fa-check" aria-hidden="true" (click)="sendMessage()"></i></button>

                <emoji-mart *ngIf="flagMostrarEmojis" title="Elige tu emoji..." emoji="point_up" (emojiClick)="addEmoji($event)"></emoji-mart>

            </form>

        </div>
    </div>
</div>

