<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>Admin</b>LTE</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
          <div class="card-body login-card-body">
            <p class="login-box-msg">Olvidaste tu contraseña? Aqui facilmente puedes solicitar cambiar tu contraseña.</p>
      
            <form [formGroup]="formularioForgotPassword" (ngSubmit)="solicitarCambioPassword()">
                <!-- INICIO FORMULARIO FORGOTPASSWORD FIELD EMAIL -->
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Email" formControlName="email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>

                <!-- INICIO ERRORES FIELD EMAIL -->
                <div class="col-xs-12 text-danger">
                    <p *ngIf="formularioForgotPassword.get('email').hasError('required') && (formularioForgotPassword.get('email').dirty || formularioForgotPassword.get('email').touched)">El email es requerido</p>
                </div>
                <div class="col-xs-12 text-danger">
                    <p *ngIf="formularioForgotPassword.get('email').hasError('email') && (formularioForgotPassword.get('email').dirty || formularioForgotPassword.get('email').touched)">Email no valido</p>
                </div>
                <!-- FIN ERRORES FIELD EMAIL -->
                <!-- FIN FORMULARIO FORGOTPASSWORD FIELD EMAIL -->

                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block" [disabled]="formularioForgotPassword.invalid">Solicitar nueva Contraseña</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
      
                <!-- NAVEGACION COMPONENTE LOGIN -->
                <p class="mt-3 mb-1">
                    <a routerLink="/login">Login</a>
                </p>

                <!-- NAVEGACION COMPONENTE REGISTER -->
                <p class="mb-0">
                    <a routerLink="/register" class="text-center">Registrarse</a>
                </p>
            </div>
          <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
</div>