<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <app-title-page [titlePage]="'Inicio'"></app-title-page>
    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
        <div class="card">
            <div class="card-body">
                <!-- MENSAJE NO HAY RESULTADO -->
                <div class="alert alert-info alert-dismissible" *ngIf="flagNoResults">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h5><i class="icon fas fa-info"></i> Atencion!</h5>
                    No hay actividad de tus amigos
                </div> 

                <div class="row tab-content">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <div class="tab-content">
                            <div class="active tab-pane">
                                <div *ngIf="!flagNoResults">
                                    <!-- Post -->
                                    <div class="post" *ngFor="let publicacion of publicaciones" style="border-block-end-width: inital;">
                                        <div class="user-block">
                                            <img class="img-circle img-bordered-sm" [src]="getUrlImagenUsuario(publicacion.usuario)" alt="User Image">
                                            <span class="username">
                                                <a href="#">{{ publicacion.usuario.nombreApellido }}</a>
                                                <!-- <a *ngIf="!isUsuarioLogueado" href="#">{{ usuario.nombreApellido }}</a> -->
                                                <!-- <a ng-click="eliminarPublicacion()" class="float-right btn-tool"><button><i class="fas fa-times"></i></button></a> -->
                                            </span>
                                            <span class="description">Subido el {{ publicacion.createAt | date:'dd/MM/yyyy' }}</span>
                                        </div>
                                        <!-- /.user-block -->
                                        <div class="row mb-3">
                                            <div class="col-sm-12">
                                                <img class="img-fluid" [src]="getImagenPublicacion(publicacion.srcImagen)" alt="Photo">
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                        <!-- /.row -->
                                    
                                        <div class="row" style="margin-left: 10px;">
                                            <h3><span class="text-bold">{{ publicacion.titulo | uppercase }}</span></h3>
                                        </div>
                                        <!-- /. row -->
                                    
                                        <div class="row" style="margin-left: 10px; margin-top: -10px;">
                                            <h3>{{ publicacion.descripcion }}</h3>
                                        </div>
                                        <!-- /. row -->
                                    
                                        <p>
                                            <a href="#" class="link-black text-sm mr-2"><i class="fas fa-share mr-1"></i> Compartir</a>

                                            <!-- INVOCAMOS AL COMPONENTE DE LIKE/DISLIKE PUBLICACION -->
                                            <app-like [publicacion]="publicacion" [usuario]="usuario"></app-like>
                                            <!-- END INVOCACION AL COMPONENTE DE LIKE/DISLIKE PUBLICACION -->

                                            <span class="float-right">
                                            <a href="#" class="link-black text-sm">
                                                <i class="far fa-comments mr-1"></i> Comentarios (5)
                                            </a>
                                            </span>
                                        </p>
                                    
                                        <input class="form-control form-control-sm" type="text" placeholder="Escribe un comentario">

                                    </div>
                                    <!-- /.post -->

                                    <div class="text-center" *ngIf="flagLoading">
                                        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                                    </div>

                                    <div class="text-center" *ngIf="!ocultarBoton">
                                        <button mat-fab color="primary" type="button" (click)="cambiarPagina(10)">
                                            +
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
